
# === Логи и временные файлы ===
log/
*.log
*.txt

# === Блокировки и временные файлы системы ===
/tmp/
*.lock
/lock
*.pid

# === Резервные копии ===
*.bak
*.backup

# === Виртуальные окружения (на случай расширений) ===
venv/
env/
.venv/

# === Локальные настройки ===
config/local.conf
secrets.sh

# === Исключения для важных файлов ===
!config/settings.conf
!modules/*.sh

# Секретные файлы
_*.sh
config/smb_quick.conf

# === Артефакты GitHub ===
.github/workflows/test.sh
